<div class="container">

    <div class="container text-center">
        <div class="row">
          <div class="col">
            <div class="card text-bg-dark">
                <img src="https://th.bing.com/th/id/OIP.2dhr5Ln6cMHIu9SmwE_uBgHaE7?pid=ImgDet&rs=1" class="card-img" alt="...">
                <div class="card-img-overlay">

                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small>Last updated 3 mins ago</small></p>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card text-bg-dark">
                <img src="https://th.bing.com/th/id/OIP.2dhr5Ln6cMHIu9SmwE_uBgHaE7?pid=ImgDet&rs=1" class="card-img" alt="...">
                <div class="card-img-overlay">

                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small>Last updated 3 mins ago</small></p>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card text-bg-dark">
                <img src="https://th.bing.com/th/id/OIP.2dhr5Ln6cMHIu9SmwE_uBgHaE7?pid=ImgDet&rs=1" class="card-img" alt="...">
                <div class="card-img-overlay">

                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small>Last updated 3 mins ago</small></p>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card text-bg-dark">
                <img src="https://th.bing.com/th/id/OIP.2dhr5Ln6cMHIu9SmwE_uBgHaE7?pid=ImgDet&rs=1" class="card-img" alt="...">
                <div class="card-img-overlay">

                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small>Last updated 3 mins ago</small></p>
                </div>
              </div>
          </div>
        </div>
      </div><br>
      <h1>NUEVOS SABORES</h1>
    <div class="container text-center">
        <div class="row">
          <div class="col">
            <div class="card text-bg-dark">
                <img src="https://th.bing.com/th/id/OIP.2dhr5Ln6cMHIu9SmwE_uBgHaE7?pid=ImgDet&rs=1" class="card-img" alt="...">
                <div class="card-img-overlay">

                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small>Last updated 3 mins ago</small></p>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card text-bg-dark">
                <img src="https://th.bing.com/th/id/OIP.2dhr5Ln6cMHIu9SmwE_uBgHaE7?pid=ImgDet&rs=1" class="card-img" alt="...">
                <div class="card-img-overlay">

                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small>Last updated 3 mins ago</small></p>
                </div>
              </div>
          </div>
        </div>
      </div>

</div><br>


    <nav class="navbar bg-primary">
      <div class="container-fluid">
        <div class="container">
            <div class="wrap">
                <div class="box">
                  <div class="box-top">

                    <div class="title-flex">
                      <h3 class="box-title">Kelsie Meyer</h3>
                      <p class="user-follow-info">17 Projects</p>
                    </div>
                    <p class="description">Whipped steamed roast cream beans macchiato skinny grinder café. Iced grinder go mocha steamed grounds cultivar panna aroma.</p>
                  </div>
                  <a href="#" class="button">Follow Kelsie</a>
                </div>
                <div class="box">
                  <div class="box-top">

                    <div class="title-flex">
                      <h3 class="box-title">Mark Carusso</h3>
                      <p class="user-follow-info">33 Projects</p>
                    </div>
                    <p class="description">Whipped steamed roast cream beans macchiato skinny grinder café. Iced grinder go mocha steamed grounds cultivar panna aroma.</p>
                  </div>
                  <a href="#" class="button">Follow Mark</a>
                </div>
                <div class="box">
                  <div class="box-top">

                    <div class="title-flex">
                      <h3 class="box-title">Taylor Green</h3>
                      <p class="user-follow-info">26 Projects</p>
                    </div>
                    <p class="description">Whipped steamed roast cream beans macchiato skinny grinder café. Iced grinder go mocha steamed grounds cultivar panna aroma.</p>
                  </div>
                  <a href="#" class="button">Follow Taylor</a>
                </div>
                <div class="box">
                  <div class="box-top">

                    <div class="title-flex">
                      <h3 class="box-title">Isaiah Jian</h3>
                      <p class="user-follow-info">12 Projects</p>
                    </div>
                    <p class="description">Whipped steamed roast cream beans macchiato skinny grinder café. Iced grinder go mocha steamed grounds cultivar panna aroma.</p>
                  </div>
                  <a href="#" class="button">Follow Isaiah</a>
                </div>
              </div>
        </div>
      </div>
    </nav>
 