<nav class="navbar navbar-expand-lg">
    <div class="container">
      <div class="container-fluid">
        
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
    
            <li class="nav-item">
              
              <a class="nav-link" href="#">
                <img class="icon" src="https://cdn-icons-png.flaticon.com/512/5724/5724260.png" alt="">
                Contactos</a>
            </li>
            <li class="nav-item">
              
              <a class="nav-link" href="#">
                <img class="icon" src="https://cdn-icons-png.flaticon.com/512/1769/1769096.png" alt="">
                Quienes somos</a>
            </li>
            <li class="nav-item">
              
              <a class="nav-link disabled" aria-disabled="true" >
                <img class="icon" src="https://cdn-icons-png.flaticon.com/512/8294/8294912.png" alt="">
                productos</a>
            </li>
          </ul>
          <ul class="header-links pull-right">
            <li><a href="#"><i class="fa fa-dollar"></i> USD</a></li>
            <li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>
        </ul>
        </div>
      </div>
    </div>
    </nav>
    
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <h1>FOOD<p>FAST</p></h1>
       <div class="container-fluid">
    
            <div class="input-group mb-3">
              <input type="text" class="form-control" aria-label="Text input with dropdown button">
    
    
            </div>
    
            <button type="button" class="btn position-relative mx-4">
              <img class="icon" src="https://cdn-icons-png.flaticon.com/512/9453/9453946.png" alt="">
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                19+
                <span class="visually-hidden">unread messages</span>
              </span>
            </button>
    
            <button type="button" class="btn position-relative mx-4">
              <img src="https://cdn-icons-png.flaticon.com/512/209/209989.png" alt="" class="icon">
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                50+
                <span class="visually-hidden">unread messages</span>
              </span>
            </button>
    
            <button type="button" class="btn position-relative mx-4">
              <img src="https://cdn-icons-png.flaticon.com/512/209/209989.png" alt="" class="icon">
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                9+
                <span class="visually-hidden">unread messages</span>
              </span>
            </button>
    
            <button type="button" class="btn position-relative mx-4">
              <img src="https://cdn-icons-png.flaticon.com/512/209/209989.png" alt="" class="icon">
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                99+
                <span class="visually-hidden">unread messages</span>
              </span>
            </button>
        </div>
      </div>
    </nav>

	<div class="container">
		<ul class="nav nav-pills nav-justified">
		  <li class="nav-item">
			<a class="nav-link disabled" href="#">HOME</a>
		  </li>    <li class="nav-item">
			<a class="nav-link" href="#">Categorias</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">Ventas</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">Listas</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" aria-disabled="true">
			  <img class="icon" src="https://cdn-icons-png.flaticon.com/512/921/921439.png" alt="">
			</a>
		  </li>
		</ul>
		<hr>
	  </div>

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Product main img -->
					<div class="col-md-5 col-md-push-2">
						<div id="product-main-img">
							<div class="product-preview">
								<img src="https://th.bing.com/th/id/R.b3da7880e2615e508b65861ca2111cd0?rik=Lv1WIT1qtI%2fp6w&pid=ImgRaw&r=0" alt="">
							</div>

							
						</div>
					</div>
					<!-- /Product main img -->
					<!-- Product details -->
					<div class="col-md-5">
						<div class="product-details">
							<h2 class="product-name">Amburguesa con tosino</h2>
							<div>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<a class="review-link" href="#">10 Vista(s) | Add your review</a>
							</div>
							<div>
								<h3 class="product-price">$280.00 <del class="product-old-price">$380.00</del></h3>
								<span class="product-available">In Stock</span>
							</div>
							<p>Hamburguesa con tosino grande, con doble queso y pan si orillas, incluye refrescos y papas por tan solo 280$</p>

							<div class="product-options">
								<label>
									piezas
									<select class="input-select">
										<option value="0">1</option>
										<option value="0">2</option>
										<option value="0">3</option>
									</select>
								</label>
								<label>
									Tamaño
									<select class="input-select">
										<option value="0">chico</option>
										<option value="0">mediano</option>
										<option value="0">Grande</option>
									</select>
								</label>
							</div>

							<div class="add-to-cart">
								<div class="qty-label">
									Perosnas
									<div class="input-number">
										<input type="number">
										<span class="qty-up">+</span>
										<span class="qty-down">-</span>
									</div>
								</div>
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>comprar</button>
							</div>

							<ul class="product-btns">
								<li><a href="#"><i class="fa fa-heart-o"></i>caracteristicas</a></li>
								<li><a href="#"><i class="fa fa-exchange"></i>Agregar mas</a></li>
							</ul>

							<ul class="product-links">
								<li>Categoria:</li>
								<li><a href="#">pizzas</a></li>
								<li><a href="#">A domiciolio</a></li>
							</ul>
						</div>
					</div><br>
					<!-- /Product details -->
            <hr>

		<!-- Section -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-12">
						<div class="section-title text-center">
							<h3 class="title">Nuevos productos</h3>
						</div>
					</div>

					<!-- product -->
					<div class="col-md-3 col">
						<div class="product">
							<div class="product-img">
								<img src="https://th.bing.com/th/id/OIP.stiDu_94VmHdC0aSSfApowHaEu?pid=ImgDet&rs=1" alt="">
								<div class="product-label">
									<span class="sale">-30%</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">Hamburguesas</a></h3>
								<h4 class="product-price">$290.00 <del class="product-old-price">$390.00</del></h4>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>agregar al carrito</button>
							</div>
						</div>
					</div>
					<!-- /product -->
                    <div class="col-md-3 col">
						<div class="product">
							<div class="product-img">
								<img src="https://th.bing.com/th/id/R.1c0bbc97d4e826668dbd4558aa60ded8?rik=3I0%2br0ld0aA6NQ&riu=http%3a%2f%2fthelionsroarmhsn.com%2fwp-content%2fuploads%2f2015%2f04%2fPepperoni_1.jpg&ehk=RqT55JyeDpVHQUqrCY6g5kRV2KQLbGHubHAXuuOK4hw%3d&risl=&pid=ImgRaw&r=0" alt="">
								<div class="product-label">
									<span class="new">NEW</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">Pizzas</a></h3>
								<h4 class="product-price">$480.00 <del class="product-old-price">$380.00</del></h4>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Agregar al carrito</button>
							</div>
						</div>
					</div>
                    <div class="col-md-3 col">
						<div class="product">
							<div class="product-img">
								<img src="https://th.bing.com/th/id/R.288593da89fa9cc9e92241b12cd26258?rik=S0jatvRcIHdcJQ&pid=ImgRaw&r=0" alt="">
								<div class="product-label">
									<span class="new">NEW</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">Hot Dog</a></h3>
								<h4 class="product-price">$80.00 <del class="product-old-price">$60.00</del></h4>		
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Agregar al carrito</button>
							</div>
						</div>
					</div>
					<!-- product -->
					<div class="col-md-3 col">
						<div class="product">
							<div class="product-img">
								<img src="https://th.bing.com/th/id/OIP.Lqf3yg7bhIOpBdSe11O_cgHaEM?pid=ImgDet&rs=1" alt="">
								<div class="product-label">
									<span class="new">NEW</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">Marquesitas</a></h3>
								<h4 class="product-price">$50.00 <del class="product-old-price">$100.00</del></h4>
					
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>agregar al carrito</button>
							</div>
						</div>
					</div>
					<!-- /product -->

					<div class="clearfix visible-sm visible-xs"></div>


					

				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /Section -->

        

		<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="newsletter">
							<p>Contactanos y <strong>compra ahora</strong></p>
							<form>
								<input class="input" type="email" placeholder="Enter Your Email">
								<button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
							</form>

						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /NEWSLETTER -->

		<!-- FOOTER -->
		

						

			<!-- bottom footer -->
                    			