<nav class="navbar navbar-expand-lg">
<div class="container">
  <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          
          <a class="nav-link" href="#">
            <img class="icon" src="https://cdn-icons-png.flaticon.com/512/5724/5724260.png" alt="">
            Contactos</a>
        </li>
        <li class="nav-item">
          
          <a class="nav-link" href="#">
            <img class="icon" src="https://cdn-icons-png.flaticon.com/512/1769/1769096.png" alt="">
            Quienes somos</a>
        </li>
        <li class="nav-item">
          
          <a class="nav-link disabled" aria-disabled="true">
            <img class="icon" src="https://cdn-icons-png.flaticon.com/512/8294/8294912.png" alt="">
            productos</a>
        </li>
      </ul>
    </div>
  </div>
</div>
</nav>

<nav class="navbar navbar-expand-lg">
  <div class="container">
    <h1>FOOD<p>FAST</p></h1>
   <div class="container-fluid">

        <div class="input-group mb-3">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
          </ul>
          <input type="text" class="form-control" aria-label="Text input with dropdown button">


        </div>

        <button type="button" class="btn position-relative mx-4">
          <img class="icon" src="https://cdn-icons-png.flaticon.com/512/9453/9453946.png" alt="">
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            19+
            <span class="visually-hidden">unread messages</span>
          </span>
        </button>

        <button type="button" class="btn position-relative mx-4">
          <img src="https://cdn-icons-png.flaticon.com/512/209/209989.png" alt="" class="icon">
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            50+
            <span class="visually-hidden">unread messages</span>
          </span>
        </button>

        <button type="button" class="btn position-relative mx-4">
          <img src="https://cdn-icons-png.flaticon.com/512/209/209989.png" alt="" class="icon">
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            9+
            <span class="visually-hidden">unread messages</span>
          </span>
        </button>

        <button type="button" class="btn position-relative mx-4">
          <img src="https://cdn-icons-png.flaticon.com/512/209/209989.png" alt="" class="icon">
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            99+
            <span class="visually-hidden">unread messages</span>
          </span>
        </button>
    </div>
  </div>
</nav>

<div class="container">
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <a class="nav-link disabled" href="#">HOME</a>
    </li>    <li class="nav-item">
      <a class="nav-link" href="#">Categorias</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Ventas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Listas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-disabled="true">
        <img class="icon" src="https://cdn-icons-png.flaticon.com/512/921/921439.png" alt="">
      </a>
    </li>
  </ul>
  <hr>
</div>