<nav class="navbar navbar-expand-lg">
  <div class="container">
    <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
  
          <li class="nav-item">
            
            <a class="nav-link" href="contacto">
              <img class="icon" src="https://cdn-icons-png.flaticon.com/512/5724/5724260.png" alt="">
              Contactos</a>
          </li>
          <li class="nav-item">
            
            <a class="nav-link" href="somos">
              <img class="icon" src="https://cdn-icons-png.flaticon.com/512/1769/1769096.png" alt="">
              Quiénes somos</a>
          </li>
          <li class="nav-item">
            
            <a class="nav-link" href="productos">
              <img class="icon" src="https://cdn-icons-png.flaticon.com/512/8294/8294912.png" alt="">
              productos</a>
          </li>
        </ul>
        <ul class="header-links pull-right">
   
      </ul>
      </div>
    </div>
  </div>
  </nav>
  
  <nav class="navbar navbar-expand-lg">
    <div class="container">
     
      <img src="../../assets/logo.png" width="180" height="180">
     <div class="container-fluid">
  
          <div class="input-group mb-3">
            <input type="text" class="form-control" aria-label="Text input with dropdown button">
  
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">33
                </span>
                <img class="icon-2 mx-3" src="https://cdn-icons-png.flaticon.com/512/10307/10307888.png" alt="">
               
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">22
                </span>
                <img class="icon-2" src="https://cdn-icons-png.flaticon.com/512/6445/6445115.png" alt="">
                
          </div>
  
          <button type="button" class="btn position-relative mx-4">
            <img class="icon" src="https://cdn-icons-png.flaticon.com/512/9453/9453946.png" alt="">
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              19+
              <span class="visually-hidden">unread messages</span>
            </span>
          </button>
  
          <button type="button" class="btn position-relative mx-4">
            <img src="https://cdn-icons-png.flaticon.com/512/209/209989.png" alt="" class="icon">
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              50+
              <span class="visually-hidden">unread messages</span>
            </span>
          </button>
  
          <button type="button" class="btn position-relative mx-4">
            <img src="https://cdn-icons-png.flaticon.com/512/209/209989.png" alt="" class="icon">
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              9+
              <span class="visually-hidden">unread messages</span>
            </span>
          </button>
  
          <button type="button" class="btn position-relative mx-4">
            <img src="https://cdn-icons-png.flaticon.com/512/209/209989.png" alt="" class="icon">
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              99+
              <span class="visually-hidden">unread messages</span>
            </span>
          </button>
      </div>
    </div>
  </nav>
  
  <div class="container">
    <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
        <a class="nav-link disabled" href="#">HOME</a>
      </li>    <li class="nav-item">
        <a class="nav-link" href="#">Categorias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pedidos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Historial</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-disabled="true">
          <img class="icon" src="https://cdn-icons-png.flaticon.com/512/921/921439.png" alt="">
        </a>
      </li>
    </ul>
    <hr>
  </div>
  
  <app-cards></app-cards>
  