<section>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>

  <div class="signin">
    <div class="content">
      <h2>Sign up</h2>

      <div class="form">
        <div class="inputBox">
          <input type="text" required /> <i>Username</i>
        </div>

        <div class="inputBox"><input type="email" required /> <i>Email</i></div>

        <div class="inputBox">
          <input type="password" required /> <i>Password</i>
        </div>

        <div class="inputBox">
          <input type="password" required /> <i>Confirm Password</i>
        </div>

        <div class="links">
          <a href="#">Ayuda</a> <a href="inicio">Sing In</a>
        </div>

        <div>
          <button  class="button">Crear Cuenta</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- partial -->

